.h_right {
  max-width: 112px;
}

.h_cart_ic {
  a {
    padding: 8px;
    background-color: var(--e-global-color-text);
    border-radius: 50%;
  }
}
.customer_review_item .elementor-icon-box-icon{position: absolute;top: 0;left: 0;}
.breadcrumb_ic{width: 8px;height: 8px;border-top: 2px solid var( --e-global-color-text );border-right: 2px solid var( --e-global-color-text );transform: rotate(45deg);display: inline-block;margin: 0 4px 1px 2px;}